openapi: 3.0.0
info:
  contact:
    email: jarrod@aryeo.com
    name: Admin
    url: https://www.aryeo.com
  description: |
    # Introduction
    The Aryeo API provides access to the Aryeo platform. You can use your favorite HTTP/REST library for interfacing with the Aryeo API, or you can use one of our SDKs. We support a variety of languages and frameworks that are a great starting point for experimenting with the API. If there is an additional language or framework that you want to see supported, then please reach out and make a contribution!

    <div class="w-100"><a class="btn btn-lang btn-lang-dart m-2" href="https://github.com/AryeoHQ/aryeo-api-dart-sdk"></a><a class="btn btn-lang btn-lang-go m-2" href="https://github.com/AryeoHQ/aryeo-api-go-sdk"></a><a class="btn btn-lang btn-lang-js m-2" href="https://github.com/AryeoHQ/aryeo-api-js-sdk"></a><a class="btn btn-lang btn-lang-php m-2" href="https://github.com/AryeoHQ/aryeo-api-php-sdk"></a><a class="btn btn-lang btn-lang-ruby m-2" href="https://github.com/AryeoHQ/aryeo-api-ruby-sdk"></a><a class="btn btn-lang btn-lang-rust m-2" href="https://github.com/AryeoHQ/aryeo-api-rust-sdk"></a><a class="btn btn-lang btn-lang-swift m-2" href="https://github.com/AryeoHQ/aryeo-api-swift-sdk"></a></div>

    **Note**: Currently, our SDKs generate some duplicate models. For example, `Listing` and `Listing1`. Each of these models are identical, despite their naming. We hope to resolve this in future versions.

    **Note**: Some SDKs may require you to manually add the `Accept` header to all Aryeo API requests. If so, use the value `application/json`.

    # Version Pinning
    The Aryeo API is versioned. This documentation refers to the most recent version of the API; however, it is possible to use older versions of the API on a request-by-request basis. To explicitly use an older version, pass the `Aryeo-Version` header with a value for the version you would like to use.

    **Example**: `Aryeo-Version: 2021-06-17`

    Information about each API version can be found in the releases section of the [documentation repository](https://github.com/AryeoHQ/aryeo-api-docs).

    # The Include Parameter
    Some endpoints provide a special `include` query parameter. This parameter allows the client to control the nested relations returned by an API response. For example, if a client only needs minimum information, then it may choose to omit the `include` parameter entirely. Or, if a client wants all possible information, then it may provide all possible values in the `include` parameter. This will have the side-effect of increasing the request's latency, but that may be advantageous depending on the client's use case.

    **Hint**: To see all possible values for the `include`  parameter, use an erroneous value such as `./path?include=fake` when making a request. Then, the API will respond with all allowed `include` values for that endpoint.
  license:
    name: Apache 2.0
    url: https://choosealicense.com/licenses/apache-2.0/
  termsOfService: https://www.aryeo.com/legal/terms-of-service
  title: Aryeo
  version: 2021-06-17
  x-logo:
    url: https://raw.githubusercontent.com/jarrodparkes/images/master/aryeo-square.svg
    backgroundColor: '#fafafa'
servers:
- description: Production
  url: https://api.aryeo.com/v1
tags:
- description: Operations related to appointments.
  name: appointments
- description: Operations related to listings.
  name: listings
- description: Operations related to orders.
  name: orders
- description: Operations related to vendors.
  name: vendors
paths:
  /appointments:
    get:
      description: List all appointments. By default, returns a list of appointments
        that have been scheduled and have not been canceled
      operationId: get-appointments
      parameters:
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: order,users
          maxLength: 255
          minLength: 0
          type: string
        style: form
      - description: Return appointments that are upcoming or in the past.
        explode: true
        in: query
        name: filter[tense]
        required: false
        schema:
          enum:
          - PAST
          - UPCOMING
          example: UPCOMING
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Return appointments where the start_at field is greater than
          or equal to this value. Effectively, appointments that start after this
          date.
        explode: true
        in: query
        name: filter[start_at_gte]
        required: false
        schema:
          example: 2021-01-01T13:00:00Z
          format: date-time
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Return appointments where the start_at field is less than or
          equal to this value. Effectively, appointments that start before this date.
        explode: true
        in: query
        name: filter[start_at_lte]
        required: false
        schema:
          example: 2021-01-02T13:00:00Z
          format: date-time
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: The IDs of users whose appointments will be retrieved. UUID Version
          4.
        explode: true
        in: query
        name: filter[user_ids]
        required: false
        schema:
          items:
            description: ID of a user. UUID Version 4.
            example: 00000000-0000-4000-8000-000000000000
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
          type: array
        style: form
      - description: Comma separated list of fields used for sorting. Placing a minus
          symbol in front of a field name sorts in descending order. Defaults to `-start_at`.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -created_at
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: The number of items per page. Defaults to 25.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: "25"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      - description: The requested page. Defaults to 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "2"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentCollection'
          description: AppointmentCollection
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: List all appointments.
      tags:
      - appointments
      x-internal: false
  /appointments/{appointment_id}/cancel:
    put:
      description: Cancel an appointment. The appointments order's customer can be
        optionally notified of this change.
      operationId: put-appointments-appointment-id-cancel
      parameters:
      - description: The ID of an appointment.
        explode: false
        in: path
        name: appointment_id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          maxLength: 255
          minLength: 0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentCancelPutPayload'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResource'
          description: AppointmentResource
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError409'
          description: ApiError409
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Cancel an appointment.
      tags:
      - appointments
  /appointments/{appointment_id}/reschedule:
    put:
      description: Reschedule an appointment. The appointments order's customer can
        be optionally notified of this change.
      operationId: put-appointments-appointment-id-reschedule
      parameters:
      - description: The ID of an appointment.
        explode: false
        in: path
        name: appointment_id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          maxLength: 255
          minLength: 0
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentReschedulePutPayload'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResource'
          description: AppointmentResource
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError409'
          description: ApiError409
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Reschedule an appointment.
      tags:
      - appointments
  /listings:
    get:
      description: Lists all listings available to a group.
      operationId: get-listings
      parameters:
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: images,videos,orders
          maxLength: 255
          minLength: 0
          type: string
        style: form
      - description: Return listings that have fields matching this term.
        explode: true
        in: query
        name: filter[search]
        required: false
        schema:
          example: 123 Main St
          maxLength: 255
          minLength: 1
          type: string
        style: form
      - description: Return listings that have an address matching this term.
        explode: true
        in: query
        name: filter[address]
        required: false
        schema:
          example: 123 Main St
          maxLength: 255
          minLength: 1
          type: string
        style: form
      - description: Return listings that have a listing agent or co-listing agent
          matching this term.
        explode: true
        in: query
        name: filter[list_agent]
        required: false
        schema:
          example: John Doe
          maxLength: 255
          minLength: 1
          type: string
        style: form
      - description: Return listings that have a certain status.
        explode: true
        in: query
        name: filter[status]
        required: false
        schema:
          enum:
          - DRAFT
          - COMING_SOON
          - FOR_LEASE
          - FOR_SALE
          - PENDING_SALE
          - PENDING_LEASE
          - SOLD
          - LEASED
          - OFF_MARKET
          - "null"
          example: FOR_SALE
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Set as true to return listings that have an active status (e.g.
          active statuses include `COMING_SOON`, `FOR_SALE`, `FOR_LEASE`, `PENDING_SALE`,
          `PENDING_LEASE`, `SOLD`, `LEASED`).
        explode: true
        in: query
        name: filter[active]
        required: false
        schema:
          example: true
          maxLength: 255
          minLength: 0
          type: boolean
        style: form
      - description: Return listings where the price field is greater than or equal
          to this value.
        explode: true
        in: query
        name: filter[price_gte]
        required: false
        schema:
          example: 100000
          type: number
        style: form
      - description: Return listings where the price field is less than or equal to
          this value.
        explode: true
        in: query
        name: filter[price_lte]
        required: false
        schema:
          example: 4000000
          type: number
        style: form
      - description: Return listings where the square feet field is greater than or
          equal to this value.
        explode: true
        in: query
        name: filter[square_feet_gte]
        required: false
        schema:
          example: 1000
          type: number
        style: form
      - description: Return listings where the square feet field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter[square_feet_lte]
        required: false
        schema:
          example: 5000
          type: number
        style: form
      - description: Return listings where the bedrooms field is greater than or equal
          to this value.
        explode: true
        in: query
        name: filter[bedrooms_gte]
        required: false
        schema:
          example: 2
          type: integer
        style: form
      - description: Return listings where the bedrooms field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter[bedrooms_lte]
        required: false
        schema:
          example: 4
          type: integer
        style: form
      - description: Return listings where the bathrooms field is greater than or
          equal to this value.
        explode: true
        in: query
        name: filter[bathrooms_gte]
        required: false
        schema:
          example: 2.5
          type: number
        style: form
      - description: Return listings where the bathrooms field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter[bathrooms_lte]
        required: false
        schema:
          example: 5
          type: number
        style: form
      - description: Comma separated list of fields used for sorting. Placing a minus
          symbol in front of a field name sorts in descending order. Defaults to `-created_at`.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -created_at
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: The number of items per page. Defaults to 25.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: "25"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      - description: The requested page. Defaults to 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "2"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingCollection'
          description: ListingCollection
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: List all listings.
      tags:
      - listings
  /listings/{listing_id}:
    get:
      description: Retrieves the details of a listing with the given ID.
      operationId: get-listings-id
      parameters:
      - description: The ID of a listing. UUID Version 4.
        explode: false
        in: path
        name: listing_id
        required: true
        schema:
          example: 00000000-0000-4000-8000-000000000000
          format: uuid
          maxLength: 36
          minLength: 36
          type: string
        style: simple
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: images,videos,orders
          maxLength: 255
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResource'
          description: ListingResource
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Retrieve a listing.
      tags:
      - listings
  /products:
    get:
      description: List all products of a group.
      operationId: get-products
      parameters:
      - description: Comma separated list of fields used for sorting. Placing a minus
          symbol in front of a field name sorts in descending order. Defaults to `title`.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -created_at
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: The number of items per page. Defaults to 25.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: "25"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      - description: The requested page. Defaults to 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "2"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      - description: Return products that have fields matching this term.
        explode: true
        in: query
        name: filter[search]
        required: false
        schema:
          example: Photography
          maxLength: 255
          minLength: 0
          type: string
        style: form
      - description: Include inactive products (in addition to active products) when
          returning products.
        explode: true
        in: query
        name: filter[include_inactive]
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Return products in the given categories.
        explode: true
        in: query
        name: filter[category_ids]
        required: false
        schema:
          items:
            description: ID of a category. UUID Version 4.
            example: 00000000-0000-4000-8000-000000000000
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
          type: array
        style: form
      - description: 'Return products matching the given type. Allowed values are:
          MAIN, ADDON.'
        explode: true
        in: query
        name: filter[type]
        required: false
        schema:
          example: MAIN
          maxLength: 255
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCollection'
          description: ProductCollection
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: List all products.
      tags:
      - orders
  /orders:
    get:
      description: Lists all orders of a group.
      operationId: get-orders
      parameters:
      - description: Comma separated list of fields used for sorting. Placing a minus
          symbol in front of a field name sorts in descending order. Defaults to `-created_at`.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -created_at
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: The number of items per page. Defaults to 25.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: "25"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      - description: The requested page. Defaults to 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "2"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCollection'
          description: OrderCollection
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: List all orders.
      tags:
      - orders
    post:
      description: Create an order.
      operationId: post-orders
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPostPayload'
        description: OrderPostPayload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResource'
          description: OrderResource
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError409'
          description: ApiError409
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Create an order.
      tags:
      - orders
  /orders/{order_id}:
    get:
      description: Retrieves the details of an order with the given ID.
      operationId: get-orders-id
      parameters:
      - description: The ID of an order. UUID Version 4.
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          example: 00000000-0000-4000-8000-000000000000
          format: uuid
          maxLength: 36
          minLength: 36
          type: string
        style: simple
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: items,appointments,unconfirmed_appointments
          maxLength: 255
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResource'
          description: OrderResource
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Retrieve an order.
      tags:
      - orders
  /scheduling/available-dates:
    get:
      description: Fetch available calendar days for scheduling or rescheduling an
        appointment. Availability can be retrieved using a specific start & end date
        range, or using a timeframe. When using a timeframe, the page parameter can
        be used to flip through weeks, months, etc.
      operationId: get-available-dates
      parameters:
      - description: The IDs of users whose availability will be retrieved. UUID Version
          4.
        explode: true
        in: query
        name: filter[user_ids]
        required: false
        schema:
          items:
            description: ID of a user. UUID Version 4.
            example: 00000000-0000-4000-8000-000000000000
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
          type: array
        style: form
      - description: Appointment ID used to fetch availability for an existing order
        explode: true
        in: query
        name: filter[appointment_id]
        required: false
        schema:
          example: 00000000-0000-4000-8000-000000000000
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Returns availability after start_at
        explode: true
        in: query
        name: filter[start_at]
        required: false
        schema:
          example: 2021-01-01T13:00:00Z
          format: date-time
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Returns availability before end_at
        explode: true
        in: query
        name: filter[end_at]
        required: false
        schema:
          example: 2021-01-02T13:00:00Z
          format: date-time
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Returns availability for a specific timeframe. Used instead of
          start_at & end_at
        explode: true
        in: query
        name: filter[timeframe]
        required: false
        schema:
          enum:
          - DAY
          - WEEK
          - MONTH
          - YEAR
          example: MONTH
          items:
            description: Timeframe type
            example: MONTH
            maxLength: 5
            minLength: 1
            type: string
          maxLength: 5
          minLength: 1
          type: array
        style: form
      - description: Duration of the event to schedule. Required if appointment_id
          isn't specified
        explode: true
        in: query
        name: duration
        required: false
        schema:
          example: 60
          maxLength: 100
          maximum: 360
          minLength: 1
          minimum: 1
          type: integer
        style: form
      - description: Interval of bookable timeslots starting at x minutes on the hour
          . Required if appointment_id isn't specified
        explode: true
        in: query
        name: interval
        required: false
        schema:
          example: 15
          maxLength: 5
          maximum: 360
          minLength: 1
          minimum: 1
          type: integer
        style: form
      - description: Timezone of the client. Localizes the available days
        explode: true
        in: query
        name: timezone
        required: false
        schema:
          example: "2"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      - description: The requested page of results
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of results per page. Only applies when using a date
          range
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarDayCollection'
          description: CalendarDayCollection
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Fetch available days for a user or group
      tags:
      - appointments
      x-internal: false
  /scheduling/available-timeslots:
    get:
      description: Fetch available timeslots for scheduling or rescheduling an appointment.
        Timeslots can be retrieved using a specific start & end date range, or using
        a timeframe. When using a timeframe, the page parameter can be used to flip
        through days or weeks.
      operationId: get-available-timeslots
      parameters:
      - description: The IDs of users whose appointments will be retrieved. UUID Version
          4.
        explode: true
        in: query
        name: filter[user_ids]
        required: false
        schema:
          items:
            description: ID of a user. UUID Version 4.
            example: 00000000-0000-4000-8000-000000000000
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
          type: array
        style: form
      - description: Appointment ID used to fetch availability for an existing order
        explode: true
        in: query
        name: filter[appointment_id]
        required: false
        schema:
          example: 00000000-0000-4000-8000-000000000000
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Returns availability after start_at
        explode: true
        in: query
        name: filter[start_at]
        required: false
        schema:
          example: 2021-01-01T13:00:00Z
          format: date-time
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Returns availability before end_at
        explode: true
        in: query
        name: filter[end_at]
        required: false
        schema:
          example: 2021-01-02T13:00:00Z
          format: date-time
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: Returns availability for a specific timeframe. Used instead of
          start_at & end_at
        explode: true
        in: query
        name: filter[timeframe]
        required: false
        schema:
          enum:
          - DAY
          - WEEK
          - MONTH
          - YEAR
          example: MONTH
          items:
            description: Timeframe type
            example: MONTH
            maxLength: 5
            minLength: 1
            type: string
          maxLength: 5
          minLength: 1
          type: array
        style: form
      - description: Duration of the event to schedule. Required if appointment_id
          isn't specified
        explode: true
        in: query
        name: duration
        required: false
        schema:
          example: 60
          maxLength: 100
          maximum: 360
          minLength: 1
          minimum: 1
          type: integer
        style: form
      - description: Interval of bookable timeslots starting at x minutes on the hour
          . Required if appointment_id isn't specified
        explode: true
        in: query
        name: interval
        required: false
        schema:
          example: 25
          maxLength: 5
          maximum: 360
          minLength: 1
          minimum: 1
          type: integer
        style: form
      - description: The requested page of results
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          minimum: 1
          type: integer
        style: form
      - description: The number of results per page. Only applies when using a date
          range
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 5
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeslotCollection'
          description: TimeslotCollection
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Fetch available timeslots for a user or group
      tags:
      - appointments
      x-internal: false
  /unconfirmed-appointments:
    get:
      description: List all unconfirmed appointments. These are appointments that
        have not been scheduled.
      operationId: get-unconfirmed-appointments
      parameters:
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: order,users
          maxLength: 255
          minLength: 0
          type: string
        style: form
      - description: The IDs of users whose appointments will be retrieved. UUID Version
          4.
        explode: true
        in: query
        name: filter[user_ids]
        required: false
        schema:
          items:
            description: ID of a user. UUID Version 4.
            example: 00000000-0000-4000-8000-000000000000
            format: uuid
            maxLength: 36
            minLength: 36
            type: string
          type: array
        style: form
      - description: Comma separated list of fields used for sorting. Placing a minus
          symbol in front of a field name sorts in descending order. Defaults to `-start_at`.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -created_at
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - description: The number of items per page. Defaults to 25.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: "25"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      - description: The requested page. Defaults to 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "2"
          maxLength: 5
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnconfirmedAppointmentCollection'
          description: UnconfirmedAppointmentCollection
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: List all unconfirmed appointments.
      tags:
      - appointments
      x-internal: false
  /unconfirmed-appointments/{unconfirmed_appointment_id}:
    get:
      description: Retrieves the details of an unconfirmed appointment with the given
        ID.
      operationId: get-unconfirmed-appointments-id
      parameters:
      - description: The ID of an appointment.
        explode: false
        in: path
        name: unconfirmed_appointment_id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          maxLength: 255
          minLength: 0
          type: string
        style: simple
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: order,users
          maxLength: 255
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnconfirmedAppointmentResource'
          description: UnconfirmedAppointmentResource
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Retrieve an unconfirmed appointment.
      tags:
      - appointments
      x-internal: false
  /vendors:
    get:
      description: Lists all vendors available to a group.
      operationId: get-vendors
      parameters:
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: users
          maxLength: 255
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollection'
          description: GroupCollection
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: List all vendors.
      tags:
      - vendors
  /vendors/{vendor_id}:
    get:
      description: Retrieves the details of a vendor with the given ID.
      operationId: get-vendors-id
      parameters:
      - description: The ID of the group that is associated as a vendor. UUID Version
          4.
        explode: false
        in: path
        name: vendor_id
        required: true
        schema:
          example: 00000000-0000-4000-8000-000000000000
          format: uuid
          maxLength: 36
          minLength: 36
          type: string
        style: simple
      - allowEmptyValue: true
        description: Comma separated list of optional data to include in the response.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: default_order_form
          maxLength: 255
          minLength: 0
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResource'
          description: GroupResource
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError403'
          description: ApiError403
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError404'
          description: ApiError404
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFail422'
          description: ApiFail422
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError500'
          description: ApiError500
      security:
      - Token: []
      summary: Retrieve a vendor.
      tags:
      - vendors
components:
  schemas:
    AppointmentCollection:
      description: A collection of appointments.
      example:
        data:
        - duration: 60
          end_at: 2021-06-30T20:30:00Z
          description: |-
            Customer: John Doe
            Order Details: Order #123
          id: 00000000-0000-0000-0000-000000000000
          title: Appointment title
          start_at: 2021-06-30T20:30:00Z
          items:
          - amount: 2099
            quantity: 2
            description: A fly-by drone video of the property.
            id: 00000000-0000-4000-8000-000000000000
            title: Aerial Video
          - amount: 2099
            quantity: 2
            description: A fly-by drone video of the property.
            id: 00000000-0000-4000-8000-000000000000
            title: Aerial Video
          users:
          - avatar_url: https://via.placeholder.com/300.jpg
            phone: "123456789"
            last_name: Doe
            id: 00000000-0000-4000-8000-000000000000
            relationship: owner
            first_name: John
            email: john.doe@gmail.com
          - avatar_url: https://via.placeholder.com/300.jpg
            phone: "123456789"
            last_name: Doe
            id: 00000000-0000-4000-8000-000000000000
            relationship: owner
            first_name: John
            email: john.doe@gmail.com
          status: SCHEDULED
          order:
            payment_url: https://www.aryeo.com/v2/stripe/checkout/order/00000000-0000-4000-8000-000000000000?pageType=order
            appointments:
            - null
            - null
            fulfillment_status: fulfilled
            address:
              country: US
              city: Boston
              latitude: 42.35157458574123
              unparsed_address_part_one: 107 South St, Unit 2F
              country_region: Napa Valley
              unparsed_address: 107 South St, Boston MA, 02111
              state_or_province_region: Cape Cod
              street_name: South St
              unparsed_address_part_two: Boston, MA 02111
              city_region: Leather District
              state_or_province: MA
              unit_number: Unit 2F
              street_number: "107"
              id: 00000000-0000-4000-8000-000000000000
              postal_code: "02111"
              longitude: -71.05763741484657
              county_or_parish: Suffolk County
            payments_allowed: true
            payment_status: paid
            title: 'Order #100'
            status_url: https://www.aryeo.com/v2/orders/00000000-0000-4000-8000-000000000000/status/public
            number: 100
            downloads_allowed: true
            unconfirmed_appointments:
            - duration: 60
              preference_type: TIME
              preferred_start_at_day: 2021-06-30T00:00:00.000+0000
              preferred_start_at_time_of_day: AFTERNOON
              description: |-
                Customer: John Doe
                Order Details: Order #123
              id: 00000000-0000-0000-0000-000000000000
              title: Appointment title
              preferred_start_at: 2021-06-30T20:30:00Z
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
            - duration: 60
              preference_type: TIME
              preferred_start_at_day: 2021-06-30T00:00:00.000+0000
              preferred_start_at_time_of_day: AFTERNOON
              description: |-
                Customer: John Doe
                Order Details: Order #123
              id: 00000000-0000-0000-0000-000000000000
              title: Appointment title
              preferred_start_at: 2021-06-30T20:30:00Z
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
            total_amount: 2099
            currency: usd
            id: 00000000-0000-4000-8000-000000000000
            listing:
              images:
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 2
                caption: This is the front of the house.
                display_in_gallery: true
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                large_url: https://via.placeholder.com/1750x1400.jpg
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 2
                caption: This is the front of the house.
                display_in_gallery: true
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                large_url: https://via.placeholder.com/1750x1400.jpg
              address:
                country: US
                city: Boston
                latitude: 42.35157458574123
                unparsed_address_part_one: 107 South St, Unit 2F
                country_region: Napa Valley
                unparsed_address: 107 South St, Boston MA, 02111
                state_or_province_region: Cape Cod
                street_name: South St
                unparsed_address_part_two: Boston, MA 02111
                city_region: Leather District
                state_or_province: MA
                unit_number: Unit 2F
                street_number: "107"
                id: 00000000-0000-4000-8000-000000000000
                postal_code: "02111"
                longitude: -71.05763741484657
                county_or_parish: Suffolk County
              mls_number: "1850209"
              description: There are technically no designated parking spots; however,
                the driveway, on the back of the house, can easily park 3 standard-sized
                vehicles.
              videos:
              - duration: 360
                display_type: BRANDED
                share_url: https://www.aryeo.com/v2/00000000-0000-4000-8000-000000000000/videos/1
                download_url: https://videos.aryeo.com/listings/00000000-0000-4000-8000-000000000000/00000000-0000-4000-8000-000000000000.mp4
                source_type: OPTIMIZED
                id: 00000000-0000-4000-8000-000000000000
                playback_url: https://player.vimeo.com/video/76979871
                title: The New Vimeo Player (You Know, For Videos)
                thumbnail_url: https://via.placeholder.com/300.jpg
              - duration: 360
                display_type: BRANDED
                share_url: https://www.aryeo.com/v2/00000000-0000-4000-8000-000000000000/videos/1
                download_url: https://videos.aryeo.com/listings/00000000-0000-4000-8000-000000000000/00000000-0000-4000-8000-000000000000.mp4
                source_type: OPTIMIZED
                id: 00000000-0000-4000-8000-000000000000
                playback_url: https://player.vimeo.com/video/76979871
                title: The New Vimeo Player (You Know, For Videos)
                thumbnail_url: https://via.placeholder.com/300.jpg
              downloads_enabled: true
              property_website:
                branded_url: https://www.aryeo.com/v2/1200-noble-way-flower-mound-1760/branded
                unbranded_url: https://www.aryeo.com/v2/1200-noble-way-flower-mound-1760/unbranded
                id: 00000000-0000-4000-8000-000000000000
              type: RESIDENTIAL
              co_list_agent:
                default_order_form:
                  id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                owner:
                  avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                logo_url: https://via.placeholder.com/300.jpg
                type: AGENT
                users:
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                license_number: "12345678"
                office_name: John Doe Brokerage
                social_profiles:
                  instagram_profile_url: https://www.instagram.com/johndoe
                  zillow_profile_url: https://www.zillow.com/profile/johndoe
                  facebook_profile_url: https://www.facebook.com/johndoe
                  twitter_profile_url: https://twitter.com/johndoe
                  linkedin_profile_url: https://www.linkedin.com/in/johndoe/
                website_url: https://www.aryeo.com
                avatar_url: https://via.placeholder.com/300.jpg
                phone: "6175550173"
                name: John Doe Reality
                order_forms:
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                id: 00000000-0000-4000-8000-000000000000
                email: john.doe@gmail.com
                object: GROUP
                is_brokerage_or_brokerage_agent: true
              building:
                bedrooms: 4
                square_feet: 2511
                year_built: 1960
                bathrooms: 3.5
              list_agent:
                default_order_form:
                  id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                owner:
                  avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                logo_url: https://via.placeholder.com/300.jpg
                type: AGENT
                users:
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                license_number: "12345678"
                office_name: John Doe Brokerage
                social_profiles:
                  instagram_profile_url: https://www.instagram.com/johndoe
                  zillow_profile_url: https://www.zillow.com/profile/johndoe
                  facebook_profile_url: https://www.facebook.com/johndoe
                  twitter_profile_url: https://twitter.com/johndoe
                  linkedin_profile_url: https://www.linkedin.com/in/johndoe/
                website_url: https://www.aryeo.com
                avatar_url: https://via.placeholder.com/300.jpg
                phone: "6175550173"
                name: John Doe Reality
                order_forms:
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                id: 00000000-0000-4000-8000-000000000000
                email: john.doe@gmail.com
                object: GROUP
                is_brokerage_or_brokerage_agent: true
              lot:
                size_acres: 0.47
                open_parking_spaces: 3
              interactive_content:
              - display_type: BRANDED
                content_type: MATTERPORT
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/300.jpg
                url: https://my.matterport.com/show/?m=HFaxPzqNFfm
              - display_type: BRANDED
                content_type: MATTERPORT
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/300.jpg
                url: https://my.matterport.com/show/?m=HFaxPzqNFfm
              sub_type: SINGLE_FAMILY_RESIDENCE
              standard_status: COMING_SOON
              price:
                list_price: 250000
              orders:
              - null
              - null
              id: 00000000-0000-4000-8000-000000000000
              floor_plans:
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 1
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                title: Downstairs floorplan
                large_url: https://via.placeholder.com/1750x1400.jpg
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 1
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                title: Downstairs floorplan
                large_url: https://via.placeholder.com/1750x1400.jpg
              object: LISTING
              status: COMING_SOON
            items:
            - amount: 2099
              quantity: 2
              description: A fly-by drone video of the property.
              id: 00000000-0000-4000-8000-000000000000
              title: Aerial Video
            - amount: 2099
              quantity: 2
              description: A fly-by drone video of the property.
              id: 00000000-0000-4000-8000-000000000000
              title: Aerial Video
            customer:
              default_order_form:
                id: 00000000-0000-4000-8000-000000000000
                title: BQ's Photography Order Form
                url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
              owner:
                avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              logo_url: https://via.placeholder.com/300.jpg
              type: AGENT
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              license_number: "12345678"
              office_name: John Doe Brokerage
              social_profiles:
                instagram_profile_url: https://www.instagram.com/johndoe
                zillow_profile_url: https://www.zillow.com/profile/johndoe
                facebook_profile_url: https://www.facebook.com/johndoe
                twitter_profile_url: https://twitter.com/johndoe
                linkedin_profile_url: https://www.linkedin.com/in/johndoe/
              website_url: https://www.aryeo.com
              avatar_url: https://via.placeholder.com/300.jpg
              phone: "6175550173"
              name: John Doe Reality
              order_forms:
              - id: 00000000-0000-4000-8000-000000000000
                title: BQ's Photography Order Form
                url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
              - id: 00000000-0000-4000-8000-000000000000
                title: BQ's Photography Order Form
                url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
              id: 00000000-0000-4000-8000-000000000000
              email: john.doe@gmail.com
              object: GROUP
              is_brokerage_or_brokerage_agent: true
        - duration: 60
          end_at: 2021-06-30T20:30:00Z
          description: |-
            Customer: John Doe
            Order Details: Order #123
          id: 00000000-0000-0000-0000-000000000000
          title: Appointment title
          start_at: 2021-06-30T20:30:00Z
          items:
          - amount: 2099
            quantity: 2
            description: A fly-by drone video of the property.
            id: 00000000-0000-4000-8000-000000000000
            title: Aerial Video
          - amount: 2099
            quantity: 2
            description: A fly-by drone video of the property.
            id: 00000000-0000-4000-8000-000000000000
            title: Aerial Video
          users:
          - avatar_url: https://via.placeholder.com/300.jpg
            phone: "123456789"
            last_name: Doe
            id: 00000000-0000-4000-8000-000000000000
            relationship: owner
            first_name: John
            email: john.doe@gmail.com
          - avatar_url: https://via.placeholder.com/300.jpg
            phone: "123456789"
            last_name: Doe
            id: 00000000-0000-4000-8000-000000000000
            relationship: owner
            first_name: John
            email: john.doe@gmail.com
          status: SCHEDULED
          order:
            payment_url: https://www.aryeo.com/v2/stripe/checkout/order/00000000-0000-4000-8000-000000000000?pageType=order
            appointments:
            - null
            - null
            fulfillment_status: fulfilled
            address:
              country: US
              city: Boston
              latitude: 42.35157458574123
              unparsed_address_part_one: 107 South St, Unit 2F
              country_region: Napa Valley
              unparsed_address: 107 South St, Boston MA, 02111
              state_or_province_region: Cape Cod
              street_name: South St
              unparsed_address_part_two: Boston, MA 02111
              city_region: Leather District
              state_or_province: MA
              unit_number: Unit 2F
              street_number: "107"
              id: 00000000-0000-4000-8000-000000000000
              postal_code: "02111"
              longitude: -71.05763741484657
              county_or_parish: Suffolk County
            payments_allowed: true
            payment_status: paid
            title: 'Order #100'
            status_url: https://www.aryeo.com/v2/orders/00000000-0000-4000-8000-000000000000/status/public
            number: 100
            downloads_allowed: true
            unconfirmed_appointments:
            - duration: 60
              preference_type: TIME
              preferred_start_at_day: 2021-06-30T00:00:00.000+0000
              preferred_start_at_time_of_day: AFTERNOON
              description: |-
                Customer: John Doe
                Order Details: Order #123
              id: 00000000-0000-0000-0000-000000000000
              title: Appointment title
              preferred_start_at: 2021-06-30T20:30:00Z
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
            - duration: 60
              preference_type: TIME
              preferred_start_at_day: 2021-06-30T00:00:00.000+0000
              preferred_start_at_time_of_day: AFTERNOON
              description: |-
                Customer: John Doe
                Order Details: Order #123
              id: 00000000-0000-0000-0000-000000000000
              title: Appointment title
              preferred_start_at: 2021-06-30T20:30:00Z
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
            total_amount: 2099
            currency: usd
            id: 00000000-0000-4000-8000-000000000000
            listing:
              images:
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 2
                caption: This is the front of the house.
                display_in_gallery: true
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                large_url: https://via.placeholder.com/1750x1400.jpg
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 2
                caption: This is the front of the house.
                display_in_gallery: true
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                large_url: https://via.placeholder.com/1750x1400.jpg
              address:
                country: US
                city: Boston
                latitude: 42.35157458574123
                unparsed_address_part_one: 107 South St, Unit 2F
                country_region: Napa Valley
                unparsed_address: 107 South St, Boston MA, 02111
                state_or_province_region: Cape Cod
                street_name: South St
                unparsed_address_part_two: Boston, MA 02111
                city_region: Leather District
                state_or_province: MA
                unit_number: Unit 2F
                street_number: "107"
                id: 00000000-0000-4000-8000-000000000000
                postal_code: "02111"
                longitude: -71.05763741484657
                county_or_parish: Suffolk County
              mls_number: "1850209"
              description: There are technically no designated parking spots; however,
                the driveway, on the back of the house, can easily park 3 standard-sized
                vehicles.
              videos:
              - duration: 360
                display_type: BRANDED
                share_url: https://www.aryeo.com/v2/00000000-0000-4000-8000-000000000000/videos/1
                download_url: https://videos.aryeo.com/listings/00000000-0000-4000-8000-000000000000/00000000-0000-4000-8000-000000000000.mp4
                source_type: OPTIMIZED
                id: 00000000-0000-4000-8000-000000000000
                playback_url: https://player.vimeo.com/video/76979871
                title: The New Vimeo Player (You Know, For Videos)
                thumbnail_url: https://via.placeholder.com/300.jpg
              - duration: 360
                display_type: BRANDED
                share_url: https://www.aryeo.com/v2/00000000-0000-4000-8000-000000000000/videos/1
                download_url: https://videos.aryeo.com/listings/00000000-0000-4000-8000-000000000000/00000000-0000-4000-8000-000000000000.mp4
                source_type: OPTIMIZED
                id: 00000000-0000-4000-8000-000000000000
                playback_url: https://player.vimeo.com/video/76979871
                title: The New Vimeo Player (You Know, For Videos)
                thumbnail_url: https://via.placeholder.com/300.jpg
              downloads_enabled: true
              property_website:
                branded_url: https://www.aryeo.com/v2/1200-noble-way-flower-mound-1760/branded
                unbranded_url: https://www.aryeo.com/v2/1200-noble-way-flower-mound-1760/unbranded
                id: 00000000-0000-4000-8000-000000000000
              type: RESIDENTIAL
              co_list_agent:
                default_order_form:
                  id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                owner:
                  avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                logo_url: https://via.placeholder.com/300.jpg
                type: AGENT
                users:
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                license_number: "12345678"
                office_name: John Doe Brokerage
                social_profiles:
                  instagram_profile_url: https://www.instagram.com/johndoe
                  zillow_profile_url: https://www.zillow.com/profile/johndoe
                  facebook_profile_url: https://www.facebook.com/johndoe
                  twitter_profile_url: https://twitter.com/johndoe
                  linkedin_profile_url: https://www.linkedin.com/in/johndoe/
                website_url: https://www.aryeo.com
                avatar_url: https://via.placeholder.com/300.jpg
                phone: "6175550173"
                name: John Doe Reality
                order_forms:
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                id: 00000000-0000-4000-8000-000000000000
                email: john.doe@gmail.com
                object: GROUP
                is_brokerage_or_brokerage_agent: true
              building:
                bedrooms: 4
                square_feet: 2511
                year_built: 1960
                bathrooms: 3.5
              list_agent:
                default_order_form:
                  id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                owner:
                  avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                logo_url: https://via.placeholder.com/300.jpg
                type: AGENT
                users:
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                license_number: "12345678"
                office_name: John Doe Brokerage
                social_profiles:
                  instagram_profile_url: https://www.instagram.com/johndoe
                  zillow_profile_url: https://www.zillow.com/profile/johndoe
                  facebook_profile_url: https://www.facebook.com/johndoe
                  twitter_profile_url: https://twitter.com/johndoe
                  linkedin_profile_url: https://www.linkedin.com/in/johndoe/
                website_url: https://www.aryeo.com
                avatar_url: https://via.placeholder.com/300.jpg
                phone: "6175550173"
                name: John Doe Reality
                order_forms:
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                id: 00000000-0000-4000-8000-000000000000
                email: john.doe@gmail.com
                object: GROUP
                is_brokerage_or_brokerage_agent: true
              lot:
                size_acres: 0.47
                open_parking_spaces: 3
              interactive_content:
              - display_type: BRANDED
                content_type: MATTERPORT
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/300.jpg
                url: https://my.matterport.com/show/?m=HFaxPzqNFfm
              - display_type: BRANDED
                content_type: MATTERPORT
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/300.jpg
                url: https://my.matterport.com/show/?m=HFaxPzqNFfm
              sub_type: SINGLE_FAMILY_RESIDENCE
              standard_status: COMING_SOON
              price:
                list_price: 250000
              orders:
              - null
              - null
              id: 00000000-0000-4000-8000-000000000000
              floor_plans:
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 1
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                title: Downstairs floorplan
                large_url: https://via.placeholder.com/1750x1400.jpg
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 1
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                title: Downstairs floorplan
                large_url: https://via.placeholder.com/1750x1400.jpg
              object: LISTING
              status: COMING_SOON
            items:
            - amount: 2099
              quantity: 2
              description: A fly-by drone video of the property.
              id: 00000000-0000-4000-8000-000000000000
              title: Aerial Video
            - amount: 2099
              quantity: 2
              description: A fly-by drone video of the property.
              id: 00000000-0000-4000-8000-000000000000
              title: Aerial Video
            customer:
              default_order_form:
                id: 00000000-0000-4000-8000-000000000000
                title: BQ's Photography Order Form
                url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
              owner:
                avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              logo_url: https://via.placeholder.com/300.jpg
              type: AGENT
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              license_number: "12345678"
              office_name: John Doe Brokerage
              social_profiles:
                instagram_profile_url: https://www.instagram.com/johndoe
                zillow_profile_url: https://www.zillow.com/profile/johndoe
                facebook_profile_url: https://www.facebook.com/johndoe
                twitter_profile_url: https://twitter.com/johndoe
                linkedin_profile_url: https://www.linkedin.com/in/johndoe/
              website_url: https://www.aryeo.com
              avatar_url: https://via.placeholder.com/300.jpg
              phone: "6175550173"
              name: John Doe Reality
              order_forms:
              - id: 00000000-0000-4000-8000-000000000000
                title: BQ's Photography Order Form
                url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
              - id: 00000000-0000-4000-8000-000000000000
                title: BQ's Photography Order Form
                url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
              id: 00000000-0000-4000-8000-000000000000
              email: john.doe@gmail.com
              object: GROUP
              is_brokerage_or_brokerage_agent: true
        meta:
          per_page: 15
          path: https://api.aryeo.com/v1/{path}
          total: 50
          last_page: 4
          from: 1
          to: 15
          current_page: 1
        links:
          next: https://api.aryeo.com/v1/{path}?page=3
          last: https://api.aryeo.com/v1/{path}?page=10
          prev: https://api.aryeo.com/v1/{path}?page=2
          first: https://api.aryeo.com/v1/{path}?page=1
        status: success
      properties:
        status:
          description: What was the state of the request?
          example: success
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
        data:
          description: ""
          items:
            $ref: '#/components/schemas/Appointment'
          nullable: true
          type: array
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        links:
          $ref: '#/components/schemas/PaginationLinks'
      required:
      - status
      title: AppointmentCollection
      type: object
    ApiError403:
      description: A forbidden error returned by the API.
      properties:
        status:
          description: What was the state of the request?
          example: error
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
        message:
          description: The error message.
          example: '{ApiError message.}'
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
        code:
          description: A numeric code corresponding to the error.
          example: 403
          nullable: true
          type: integer
      required:
      - message
      - status
      title: ApiError403
      type: object
    ApiError404:
      description: A not found error returned by the API.
      properties:
        status:
          description: What was the state of the request?
          example: error
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
        message:
          description: The error message.
          example: '{ApiError message.}'
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
        code:
          description: A numeric code corresponding to the error.
          example: 404
          nullable: true
          type: integer
      required:
      - message
      - status
      title: ApiError404
      type: object
    ApiFail422:
      description: A processing or validation failure returned by the API.
      properties:
        status:
          description: What was the state of the request?
          example: fail
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
      required:
      - status
      title: ApiFail422
      type: object
    ApiError500:
      description: An internal server error returned by the API.
      properties:
        status:
          description: What was the state of the request?
          example: error
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
        message:
          description: The error message.
          example: '{ApiError message.}'
          maxLength: 255
          minLength: 0
          nullable: false
          type: string
        code:
          description: A numeric code corresponding to the error.
          example: 500
          nullable: true
          type: integer
      required:
      - message
      - status
      title: ApiError500
      type: object
    AppointmentCancelPutPayload:
      description: Payload for canceling an appointment record.
      example:
        notify_customer: false
      properties:
        notify_customer:
          description: Sends a notification to the appointment's order's customer
            that the appointment was canceled.
          example: false
          nullable: true
          type: boolean
      title: AppointmentCancelPutPayload
      type: object
    AppointmentResource:
      description: An appointment.
      example:
        data:
          duration: 60
          end_at: 2021-06-30T20:30:00Z
          description: |-
            Customer: John Doe
            Order Details: Order #123
          id: 00000000-0000-0000-0000-000000000000
          title: Appointment title
          start_at: 2021-06-30T20:30:00Z
          items:
          - amount: 2099
            quantity: 2
            description: A fly-by drone video of the property.
            id: 00000000-0000-4000-8000-000000000000
            title: Aerial Video
          - amount: 2099
            quantity: 2
            description: A fly-by drone video of the property.
            id: 00000000-0000-4000-8000-000000000000
            title: Aerial Video
          users:
          - avatar_url: https://via.placeholder.com/300.jpg
            phone: "123456789"
            last_name: Doe
            id: 00000000-0000-4000-8000-000000000000
            relationship: owner
            first_name: John
            email: john.doe@gmail.com
          - avatar_url: https://via.placeholder.com/300.jpg
            phone: "123456789"
            last_name: Doe
            id: 00000000-0000-4000-8000-000000000000
            relationship: owner
            first_name: John
            email: john.doe@gmail.com
          status: SCHEDULED
          order:
            payment_url: https://www.aryeo.com/v2/stripe/checkout/order/00000000-0000-4000-8000-000000000000?pageType=order
            appointments:
            - null
            - null
            fulfillment_status: fulfilled
            address:
              country: US
              city: Boston
              latitude: 42.35157458574123
              unparsed_address_part_one: 107 South St, Unit 2F
              country_region: Napa Valley
              unparsed_address: 107 South St, Boston MA, 02111
              state_or_province_region: Cape Cod
              street_name: South St
              unparsed_address_part_two: Boston, MA 02111
              city_region: Leather District
              state_or_province: MA
              unit_number: Unit 2F
              street_number: "107"
              id: 00000000-0000-4000-8000-000000000000
              postal_code: "02111"
              longitude: -71.05763741484657
              county_or_parish: Suffolk County
            payments_allowed: true
            payment_status: paid
            title: 'Order #100'
            status_url: https://www.aryeo.com/v2/orders/00000000-0000-4000-8000-000000000000/status/public
            number: 100
            downloads_allowed: true
            unconfirmed_appointments:
            - duration: 60
              preference_type: TIME
              preferred_start_at_day: 2021-06-30T00:00:00.000+0000
              preferred_start_at_time_of_day: AFTERNOON
              description: |-
                Customer: John Doe
                Order Details: Order #123
              id: 00000000-0000-0000-0000-000000000000
              title: Appointment title
              preferred_start_at: 2021-06-30T20:30:00Z
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
            - duration: 60
              preference_type: TIME
              preferred_start_at_day: 2021-06-30T00:00:00.000+0000
              preferred_start_at_time_of_day: AFTERNOON
              description: |-
                Customer: John Doe
                Order Details: Order #123
              id: 00000000-0000-0000-0000-000000000000
              title: Appointment title
              preferred_start_at: 2021-06-30T20:30:00Z
              users:
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
              - avatar_url: https://via.placeholder.com/300.jpg
                phone: "123456789"
                last_name: Doe
                id: 00000000-0000-4000-8000-000000000000
                relationship: owner
                first_name: John
                email: john.doe@gmail.com
            total_amount: 2099
            currency: usd
            id: 00000000-0000-4000-8000-000000000000
            listing:
              images:
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 2
                caption: This is the front of the house.
                display_in_gallery: true
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                large_url: https://via.placeholder.com/1750x1400.jpg
              - original_url: https://via.placeholder.com/2500x2000.jpg
                index: 2
                caption: This is the front of the house.
                display_in_gallery: true
                id: 00000000-0000-4000-8000-000000000000
                thumbnail_url: https://via.placeholder.com/250x200.jpg
                large_url: https://via.placeholder.com/1750x1400.jpg
              address:
                country: US
                city: Boston
                latitude: 42.35157458574123
                unparsed_address_part_one: 107 South St, Unit 2F
                country_region: Napa Valley
                unparsed_address: 107 South St, Boston MA, 02111
                state_or_province_region: Cape Cod
                street_name: South St
                unparsed_address_part_two: Boston, MA 02111
                city_region: Leather District
                state_or_province: MA
                unit_number: Unit 2F
                street_number: "107"
                id: 00000000-0000-4000-8000-000000000000
                postal_code: "02111"
                longitude: -71.05763741484657
                county_or_parish: Suffolk County
              mls_number: "1850209"
              description: There are technically no designated parking spots; however,
                the driveway, on the back of the house, can easily park 3 standard-sized
                vehicles.
              videos:
              - duration: 360
                display_type: BRANDED
                share_url: https://www.aryeo.com/v2/00000000-0000-4000-8000-000000000000/videos/1
                download_url: https://videos.aryeo.com/listings/00000000-0000-4000-8000-000000000000/00000000-0000-4000-8000-000000000000.mp4
                source_type: OPTIMIZED
                id: 00000000-0000-4000-8000-000000000000
                playback_url: https://player.vimeo.com/video/76979871
                title: The New Vimeo Player (You Know, For Videos)
                thumbnail_url: https://via.placeholder.com/300.jpg
              - duration: 360
                display_type: BRANDED
                share_url: https://www.aryeo.com/v2/00000000-0000-4000-8000-000000000000/videos/1
                download_url: https://videos.aryeo.com/listings/00000000-0000-4000-8000-000000000000/00000000-0000-4000-8000-000000000000.mp4
                source_type: OPTIMIZED
                id: 00000000-0000-4000-8000-000000000000
                playback_url: https://player.vimeo.com/video/76979871
                title: The New Vimeo Player (You Know, For Videos)
                thumbnail_url: https://via.placeholder.com/300.jpg
              downloads_enabled: true
              property_website:
                branded_url: https://www.aryeo.com/v2/1200-noble-way-flower-mound-1760/branded
                unbranded_url: https://www.aryeo.com/v2/1200-noble-way-flower-mound-1760/unbranded
                id: 00000000-0000-4000-8000-000000000000
              type: RESIDENTIAL
              co_list_agent:
                default_order_form:
                  id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                owner:
                  avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                logo_url: https://via.placeholder.com/300.jpg
                type: AGENT
                users:
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                - avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
                  id: 00000000-0000-4000-8000-000000000000
                  relationship: owner
                  first_name: John
                  email: john.doe@gmail.com
                license_number: "12345678"
                office_name: John Doe Brokerage
                social_profiles:
                  instagram_profile_url: https://www.instagram.com/johndoe
                  zillow_profile_url: https://www.zillow.com/profile/johndoe
                  facebook_profile_url: https://www.facebook.com/johndoe
                  twitter_profile_url: https://twitter.com/johndoe
                  linkedin_profile_url: https://www.linkedin.com/in/johndoe/
                website_url: https://www.aryeo.com
                avatar_url: https://via.placeholder.com/300.jpg
                phone: "6175550173"
                name: John Doe Reality
                order_forms:
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                - id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                id: 00000000-0000-4000-8000-000000000000
                email: john.doe@gmail.com
                object: GROUP
                is_brokerage_or_brokerage_agent: true
              building:
                bedrooms: 4
                square_feet: 2511
                year_built: 1960
                bathrooms: 3.5
              list_agent:
                default_order_form:
                  id: 00000000-0000-4000-8000-000000000000
                  title: BQ's Photography Order Form
                  url: https://www.aryeo.com/order-forms/00000000-0000-4000-8000-000000000000
                owner:
                  avatar_url: https://via.placeholder.com/300.jpg
                  phone: "123456789"
                  last_name: Doe
[...]
